:root {
    --almostwhite: hsl(0, 0%, 98%);
    --mediumgray: hsl(0, 0%, 41%);
    --almostblack: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--mediumgray);
}

body {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 130px;
    font-size: 15px;
    font-family: 'Epilogue', sans-serif;
}

.nav-bar a:hover {
    color: var(--almostblack);
}

.navigation {
    display: flex;
    padding-top: 32px;
    padding-left: 40px;
}

.logo {
    margin-right: 62px;
}

.navigation li {
    display: inline-block;
    list-style: none;
    padding-top: 2px;
    margin-right: 2.25rem;
    letter-spacing: -0.5px;
}

.navigation li:last-child {
    margin-right: 0;
}

.login {
    padding-top: 34px;
    padding-right: 40px;
}

.register-btn {
    padding: 13px 21px;
    border: 1px solid var(--mediumgray);
    border-radius: 15px;
    font-size: 0.9rem;
}

.register-btn:hover {
    color: var(--almostblack);
    border-color: var(--almostblack);
}

.login-btn {
    margin: 12px 37px;
}

.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    translate: 18px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    min-width: 1145px;
    font-family: 'Epilogue', sans-serif;
}

.hero-section img {
    margin-bottom: 20px;
}

.hero-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clients {
    position: relative;
    top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 480px;
    margin-bottom: 0;
}

.heading {
    font-size: 5rem;
    margin-top: 102px;
    max-width: 520px;
    letter-spacing: -1px;
}

.hero-description {
    max-width: 430px;
    line-height: 1.55;
    font-size: 1.130rem;
    margin-bottom: 5px;
    /* letter-spacing: 1px; */
}    

.learn-more {
    padding: 19px 28px 17px 31px; 
    border: 1px solid var(--almostblack);
    border-radius: 15px;
    align-self: start;
    background-color: var(--almostblack);
    color: var(--almostwhite);
    margin-bottom: 52px;
    font-size: 18px;
}

.learn-more:hover {
    background-color: var(--almostwhite);
    color: var(--almostblack);
    font-weight: 700;
    padding-right: 26px;
    padding-left: 30px;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }