:root {
    --almostwhite: hsl(0, 0%, 98%);
    --mediumgray: hsl(0, 0%, 41%);
    --almostblack: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--mediumgray);
}

body {
    position: relative;
    min-height: 100vh;
    background-color: var(--almostwhite);
}

.container {
    overflow: hidden;
}

.nav-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 130px;
    font-size: 15px;
    font-family: 'Epilogue', sans-serif;
}

.nav-bar a:hover {
    color: var(--almostblack);
}

.links-container {
    display: flex;
    justify-content: space-between;
     width: 89%;
}

.navigation {
    display: flex;
    padding-top: 32px;
    padding-left: 20px;
}

.logo {
    margin: 32px 41px;

}

.features {
    cursor: pointer;
}

.features-content {
    border-radius: 10px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    left: 113px;
    top: 70px;
    width: 153px;
    height: 160px;
    background-color: var(--almostwhite);
    box-shadow: 0 10px 50px  rgb(212, 212, 212) ;
    z-index: 1;
    display: none;
}

.features-content ul li {
    list-style: none;
    margin: 6px;
}

.features-content ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.features-content ul li a img {
    width:17px;
    height: 17px;
    margin: 0px 16px;
}

.features-content ul li a span {
    font-size: 0.9rem;
}



.company-content {
    border-radius: 10px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    left: 306px;
    top: 70px;
    width: 116px;
    height: 128px;
    background-color: var(--almostwhite);
    box-shadow: 0 10px 50px  rgb(212, 212, 212) ;
    z-index: 1;
    display: none;
}

.company-content ul {
    margin-bottom: 3px;
}

.company-content ul li {
    list-style: none;
    margin: 8px;
}

.company-content ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.company-content ul li a span {
    font-size: 0.9rem;
    margin-left: 18px;
}




.navigation li {
    display: inline-block;
    list-style: none;
    padding-top: 2px;
    margin-right: 2.25rem;
    letter-spacing: -0.5px;
}


.login {
    padding-top: 34px;
    padding-right: 40px;
}

.register-btn {
    padding: 13px 21px;
    border: 1px solid var(--mediumgray);
    border-radius: 15px;
    font-size: 0.9rem;
}

.register-btn:hover {
    color: var(--almostblack);
    border-color: var(--almostblack);
}

.login-btn {
    margin: 12px 37px;
}

.burger {
    display: none;
}

.burger div {
    width: 32px;
    height: 2px;
    background-color: black;
    margin: 6px;
    transition: all 0.5s ease;
}

.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    translate: 17px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    width: 1145px;
    font-family: 'Epilogue', sans-serif;
}

.hero-section img {
    margin-bottom: 20px;
    
}

.hero-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.clients {
    position: relative;
    top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 480px;
    margin-bottom: 5px;
}

.heading {
    font-size: 5rem;
    margin-top: 102px;
    max-width: 520px;
    letter-spacing: -1px;
}

.hero-description {
    max-width: 430px;
    line-height: 1.55;
    font-size: 1.130rem;
    margin-bottom: 5px;
    /* letter-spacing: 1px; */
}    

.learn-more {
    padding: 19px 28px 17px 31px; 
    border: 1px solid var(--almostblack);
    border-radius: 15px;
    align-self: start;
    background-color: var(--almostblack);
    color: var(--almostwhite);
    margin-bottom: 53px;
    font-size: 18px;
}

.learn-more:hover {
    background-color: var(--almostwhite);
    color: var(--almostblack);
    font-weight: 700;
}



.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media screen and (max-width: 1180px) {
    .hero-section {
        justify-content: center;
    }

    .hero-container {
        translate: 0;
    }
  }

  @media screen and (max-width: 865px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .burger {
        display: block;
        cursor: pointer;
        margin: 32px 41px;
    }

    .container {
        
        overflow-x: hidden;
    }

    .links-container {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        z-index: 1;
        min-height: 100vh;
        width: 66%;
        margin-right: 0;
        background-color: var(--almostwhite);
        translate: 100%;
    }

    .nav-bar ul li {
        display: block;
    }

    .nav-bar .login a {
        display: block;
    }
   
  }

  @media screen and (max-width: 375px) {
    .logo {
        margin: 24px 17px;
    }

    .burger  {
        margin: 19px 10px;
    }

    .nav-bar {
        height: 75px;
    }

    .heading {
        margin: 0;
        font-size: 2.3rem;
        margin-top: 25px;
    }

    .hero-description {
        font-size: 1rem;
        margin-top: 18px;
        max-width: 350px;
        color: var(--mediumgray);
        line-height: 1.6;
    }

    .learn-more {
       align-self: center;
       padding: 14px 21px;
       font-size: 1rem;
       margin-top: 20px;
       margin-bottom: 35px;
    }

    .clients {
        max-width: 375px;
        gap: 5px;
    }

    .clients img {
        scale: 70%;
        
    }

    .hero-text {
        width: 100%;
        align-items: center;
    }
  }

.show-feature {
    display: flex;
}

.show-company {
    display: flex;
}